<div class="font-effect-fire-animation">
	<h1>Top 10 Products</h1>		

<ol class="index">
	<% @products.each do |product| %>
	  <li><%= link_to "#{product.name}-#{product.formatted_price}", product_path(product) %><span class="label label-default"><%= product.category.name %></span>
  			<%= image_tag product.url %>
	  </li>
	<% end %>
</ol>	
</div>